<link rel="stylesheet" href="../../static/ngRadar_Website/css/customStyles.css">

<section class="group-2" aria-label="Message time">
    <h2 class="div">Message Time (UTC):</h2>
    <p class="text-wrapper-time-title"> <span id="message-time"></span> </p>
</section>
<section aria-label="Observation details">
    <p class="target-molniya"><span class="text-wrapper">Target: </span><strong class="span">Molniya</strong></p>
    <p class="obs-ID-obs"><span class="text-wrapper">Obs_ID: </span><strong class="span">obs_001</strong></p>
    <p class="text-wrapper-6">TLE:</p>
    <p class="transmitter-ON"><span class="text-wrapper-2">Transmitter: </span><strong
            class="text-wrapper-3">ON</strong></p>
    <p class="transmitted-waveform"><span class="text-wrapper">Transmitted Waveform: </span><strong class="span">W49
            (120 MHz LFM, 2ms PRP)</strong></p>
    <p class="recorded-waveform"><span class="text-wrapper">Recorded Waveform: </span><strong class="span">W49 (120
            MHz LFM, 2ms PRP)</strong></p>
</section>
<section aria-label="Plots">
    <img class="cw-plot" src="/static/ngRadar_Website/images/cw_plot.jpg" alt="CW plot for the current observation" />
    <img class="molniya" src="/static/ngRadar_Website/images/molniya.png" alt="DDM visualization for target Molniya" />
</section>