<!-- Nav Content -->
    <a href="{% url 'home' %}" class="btn btn-dark">
        Home
    </a>

    <a href="{% url 'dashboard_home' %}" class="btn btn-dark">
        History Events Table
    </a>

    <button class="btn btn-dark" type="button">
        PRDX Files
    </button>

    <button class="btn btn-dark" type="button">
        TLEs
    </button>

    <button class="btn btn-dark" type="button">
        Plan Observation
    </button>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark w-100">
                Logout
            </button>
        </form>
    {% endif %}
<!-- End Nav Content -->