<div class="border rounded p-3 bg-white d-flex align-items-center text-center" style="min-height: 5rem; display: flex; justify-content: center; align-items: center; font-size: 1.2rem">
    {% if gbt_event.tx_waveform == 'Tx_OFF' %}<!-- NOTE: We should maybe tie the return of the 'All Systems Online' status to the 'Generating...' status on the waveform input box (using ObservatoryEvent table)-->
        <span> ⏳ Changing waveform to {{ ui_event.selected_waveform }}... </span>
    {% elif 'Failure:' in latest_event.message %}
        <span> ❗️ System Failure: {{ latest_event.message }} </span>   
    {% elif latest_etr_event.status %}
        <span> <strong style="font-weight: bold;">{{ latest_etr_event.get_status_display }}</strong>: {{ latest_etr_event.message }} </span>  
    {% else %}
        <span> ✅ All systems online. Observation in progress. </span>
    {% endif %}
</div>